.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-family: Symtext;
    font-size: 40px;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.board {
    outline: 2px solid rgb(134, 154, 189);
    margin-top: 20px;
}

.row {
    height: 35px;
}

.cell {
    width: 35px;
    height: 35px;
    outline: 1px solid rgb(134, 154, 189);
    display: inline-block;
}

.snake-cell {
    background-color: green;
}

.food-cell {
    background-color: red;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.control {
    font-size: 40px;
}