<div class="game">
    <div class="heading" *ngIf="!isGameOver">
        <span class="title">Snake</span>
        <div class="controls" *ngIf="!isGameOver">
            <button mat-icon-button color="accent" (click)="startGame()">
                <mat-icon class="control">play_circle_filled</mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="resetGame()">
                <mat-icon class="control">replay_circle_filled</mat-icon>
            </button>
            <button mat-icon-button color="accent" (click)="toggleSounds()">
                <mat-icon class="control" *ngIf="isAudioOn; else switchOnAudio">volume_off</mat-icon>
            </button>
            <ng-template #switchOnAudio>
                <button mat-icon-button color="accent" (click)="toggleSounds()">
                    <mat-icon class="control">volume_up</mat-icon>
                </button>
            </ng-template>
        </div>
    </div>
    
    <div class="score" *ngIf="!isGameOver">
        <span class="score-text">Score: {{ score }}</span>
    </div>

    <div class="board" *ngIf="!isGameOver">
        <div *ngFor="let row of board" class="row">
            <div *ngFor="let col of row" class="cell" [ngClass]="getCellClass(col)">
                <img width="30" height="30" src="assets/images/apple.svg" *ngIf="getCellClass(col) === 'food-cell'"/>
            </div>
        </div>
    </div>

    <div *ngIf="isGameOver">
        <p class="title">Game over!</p>
        <div id="gameOverMessage">
            <span class="score-text">Hai totalizzato <span style="color: #F8D85E;">{{ score }}</span> punti</span>
            <button style="margin-top: 10px;" mat-icon-button color="accent" (click)="resetGame()">
                <mat-icon class="control">replay_circle_filled</mat-icon>
            </button>
        </div>
    </div>
</div>
