.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-family: Symtext;
    font-size: 40px;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.board {
    outline: 2px solid rgb(134, 154, 189);
    margin-top: 20px;
}

.row {
    height: 30px;
}

.cell {
    width: 30px;
    height: 30px;
    outline: 1px solid rgba(134, 154, 189, 0.3);
    display: inline-block;
}

.snake-cell {
    background-color: green;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.control {
    font-size: 40px;
}

.score {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.score-text {
    font-family: Symtext;
    font-size: 20px;
}

#gameOverMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
}