@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@font-face {
    font-family: Symtext;
    src: url("./assets/fonts/Symtext.ttf");
}

body {
    text-align: center;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
